body {

}

main {

}

header {
    background: rgb(42, 42, 42);
    width: 100vw;
    height: 75px;
    position: absolute;
    top: 0;
}

.left-margin {
background: rgb(170, 170, 170);
width: 15%;
height: 100vh;
position: fixed;
float: left;
margin-top: 67px;
}

.middle {
    background: rgb(5, 5, 5);
    width: 70%;
    height: 75px;
    position: fixed;
    float: left;
    bottom: 0;
    margin-left: 15%;
}

.right-margin {
background: rgb(170, 170, 170);
width: 15%;
height: 100vh;
position: fixed;
float: left;
margin-top: 67px;
margin-left: 85%;
}

